<div *ngIf="simulation">
  <h2>System Details</h2>
  <div class="ui form">
    <div class="fields">
      <div class="field">
        <label>Solar Energy</label>
        <div class="ui labeled input">
          <div class="ui label">Watts</div>
          <input
            [(ngModel)]="simulation.config.solarWatts"
            placeholder="Watts"
          />
        </div>
      </div>
      <div class="field">
        <label>Panel Volume</label>
        <div class="ui labeled input">
          <div class="ui label">Gallons</div>
          <input
            [(ngModel)]="simulation.config.panelVolume"
            placeholder="Volume"
          />
        </div>
      </div>
      <div class="field">
        <label>Efficiency</label>
        <div class="ui labeled input">
          <div class="ui label">%</div>
          <input
            [(ngModel)]="simulation.config.panelEfficiancy"
            placeholder="Percentage"
          />
        </div>
      </div>
    </div>
      <button class="ui labeled icon button" (click)="toggleSimulation()">
        <i class="icon" [ngClass]="{'pause': running, 'play': !running}"></i>
        <span *ngIf="running">Pause</span>
        <span *ngIf="!running">Start</span>
      </button>
      <button class="ui right labeled icon button" (click)="tickSimulation()">
        <i class="level down alternate icon"></i>
        Advance
      </button>
      <button class="ui right labeled icon button" (click)="resetSimulation()">
        <i class="redo icon"></i>
        Reset
      </button>
  </div>
</div>
